@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 333;
    opacity: 40%;
}